// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
	background-color: rgba(255, 255, 255, 0.75);
	width: 65%;
	left: 80px;
	padding: 1px 0px 5px 5px;

	tr:nth-child(even) {background: rgba(128, 128, 128, 0.25)}
}